<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" type="text/css">
  </head><body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}"><span>Facultad de Ingeniería Química</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{ url_for('paginaProfesor') }}"><i class="fa fa-fw fa-home fa-lg"></i>Inicio</a>
            </li>
            <li>
              <a href="{{ url_for('logouta') }}">Cerrar sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section section-primary text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Cambiar contraseña del Alumno</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal" role="form" action="{{ url_for('validarCambiarContraAlumno') }}" method="POST" enctype="multipart/form-data">
                {{ formularioCamContraAlum.csrf_token }}
              <div class="form-group">
                  {% with mensajes = get_flashed_messages(category_filter=["exito"]) %}
                    {% if mensajes %}
                        {% for mensaje in mensajes %}
                            <div class="alert alert-dismissable alert-success">
                            <strong>Exito!</strong>La contraseña del alumno se ha cambiado :)</div>
                        {% endfor %}
                    {% endif %}
                  {% endwith %}

                <div class="col-sm-2">
                    {{ formularioCamContraAlum.nuevaContraAlumno.label(class="control-label") }}
                </div>
                <div class="col-sm-10">
                    {{ formularioCamContraAlum.nuevaContraAlumno(class="form-control") }}
                </div>
              </div>

            {% for message in formularioCamContraAlum.nuevaContraAlumno.errors %}
                <div class="alert alert-danger alert-dismissable">
                    {{ message }}
                </div>
                {% endfor %}

              <div class="form-group">
                <div class="col-sm-2">
                    {{ formularioCamContraAlum.nuevaContraAlumnoOtraVez.label(class="control-label") }}
                </div>
                <div class="col-sm-10">
                    {{ formularioCamContraAlum.nuevaContraAlumnoOtraVez(class="form-control") }}
                </div>

              </div>

            {% for message in formularioCamContraAlum.nuevaContraAlumnoOtraVez.errors %}
                <div class="alert alert-danger alert-dismissable">
                    {{ message }}
                </div>
                {% endfor %}

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ formularioCamContraAlum.botonCambiarContra(class="btn btn-default") }}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  

</body></html>